article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2.2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.8em;
  margin: 1.5em 0 0.3em; }

h3 {
  font-size: 1.17em;
  margin: 1em 0 0.3em; }

h4 {
  font-size: 1em;
  margin: 1.33em 0 0.3em; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0 0.3em; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0 0.3em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #dd1144; }

/* Literal.String */
.highlight .na {
  color: teal; }

/* Name.Attribute */
.highlight .nb {
  color: #0086b3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: teal; }

/* Name.Constant */
.highlight .ni {
  color: purple; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: navy; }

/* Name.Tag */
.highlight .nv {
  color: teal; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #dd1144; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #dd1144; }

/* Literal.String.Char */
.highlight .sd {
  color: #dd1144; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #dd1144; }

/* Literal.String.Double */
.highlight .se {
  color: #dd1144; }

/* Literal.String.Escape */
.highlight .sh {
  color: #dd1144; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #dd1144; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #dd1144; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #dd1144; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: teal; }

/* Name.Variable.Class */
.highlight .vg {
  color: teal; }

/* Name.Variable.Global */
.highlight .vi {
  color: teal; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.project-poster > img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

/*
 * Used to normalise select dropdowns 
 * Styles from formalize.me
 * @include normaliseSelect();
 */
/*
 * @font-face mixin
 * @include font-face('family', '../fonts/', 'myfontname');
 */
pre {
  -webkit-overflow-scrolling: touch; }

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 500px) {
    html,
    body {
      font-size: 105%; } }

.page-content,
.project-wrapper {
  height: 100%; }

.text-center {
  text-align: center; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Lato, 'Helvetica Neue', sans-serif;
  color: #3e4853; }

h1, h2, h3, h4, h5, h6 {
  font-family: Baskerville, Georgia, serif;
  font-weight: normal; }

p {
  line-height: 1.5em; }

code, pre {
  background: #f5f7f7;
  font-family: 'Source Code Pro', Consolas, Menlo;
  font-size: .8em;
  font-weight: normal; }

code {
  padding: .1em .3em .15em;
  position: relative;
  top: -1px;
  color: #185180;
  border: 1px solid #cfd9db; }

pre {
  overflow-x: auto;
  white-space: pre;
  padding: .5em 1.3em .7em;
  color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #cfd9db;
  border-bottom: 1px solid #cfd9db;
  box-shadow: 0 2px 1px -2px #94aab0; }
  @media screen and (min-width: 600px) {
    pre {
      border: 1px solid #cfd9db; } }
  pre > code {
    border: 0;
    padding: 0;
    top: auto;
    font-size: 1.1em; }

.project-body > p,
.project-body > h1,
.project-body > h2,
.project-body > ul, .project-body > .highlight {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto; }

.home {
  padding: 1.5em 0; }
  @media screen and (min-width: 700px) {
    .home {
      padding: 2em 0; } }

.scilife-logo {
  -webkit-animation-name: flipInX;
  -moz-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .scilife-logo:active {
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s; }

.scilife-logo-img {
  width: 80%;
  max-width: 20em; }
  @media screen and (min-width: 400px) {
    .scilife-logo-img {
      width: 70%; } }

.scilife-subheader {
  font-size: 1em; }
  @media screen and (min-width: 400px) {
    .scilife-subheader {
      font-size: 1.1em; } }
  @media screen and (min-width: 600px) {
    .scilife-subheader {
      font-size: 1.3; } }

.showcase {
  margin: 2em auto 0;
  position: relative;
  border-top: 1px solid #ebeef3; }
  @media screen and (min-width: 700px) {
    .showcase {
      max-width: 35em;
      border-top: 0;
      margin-top: 3em; } }

.case-wrapper {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 1px solid #ebeef3; }
  @media screen and (min-width: 700px) {
    .case-wrapper {
      border-bottom: 0; } }
  .case-wrapper:hover > .case-action-wrapper {
    opacity: 1; }
  .case-wrapper:hover > .case {
    border-color: #ebeef3; }
  .case-wrapper:hover .case-logo {
    -webkit-animation-name: wobble;
    -moz-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    animation-duration: 0.7s; }

.case {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 1em 1.5em;
  cursor: pointer;
  position: relative;
  border-left: 0;
  text-decoration: none; }
  @media screen and (min-width: 400px) {
    .case {
      padding: 1em; } }
  @media screen and (min-width: 500px) {
    .case {
      padding: 1em 2em; } }
  @media screen and (min-width: 700px) {
    .case {
      border-radius: 0 5px 5px 0;
      border: 2px solid rgba(235, 238, 243, 0);
      padding: .6em 2em; } }
  .case:active {
    background: #fbfcfd; }

.case-action-wrapper {
  display: none;
  text-decoration: none;
  position: relative; }
  @media screen and (min-width: 400px) {
    .case-action-wrapper {
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-flex-basis: 5em;
      -moz-flex-basis: 5em;
      flex-basis: 5em;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; } }
  @media screen and (min-width: 700px) {
    .case-action-wrapper {
      opacity: 0;
      border: 2px solid #ebeef3;
      border-radius: 5px 0 0 5px;
      border-right: 0; } }
  .case-action-wrapper:before {
    content: attr(alt);
    position: absolute;
    display: block;
    border-radius: 3px;
    top: -10px;
    right: 5px;
    font-size: .8em;
    white-space: nowrap;
    padding: 3px 5px;
    background-color: #525f6b;
    color: #fff;
    z-index: 10000;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.2s ease-in-out;
    -moz-transition: opacity 0.2s 0.2s ease-in-out;
    transition: opacity 0.2s 0.2s ease-in-out; }
  .case-action-wrapper:hover:before {
    opacity: 1; }

.case-action {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  border: 1px solid #cbd3e0;
  box-shadow: 0 1px 3px -1px #dbe0e9;
  font-size: .8em;
  font-weight: bold;
  padding: 3px 5px;
  border-radius: 3px;
  color: #2b84d3; }
  .case-action:hover {
    background: #f8f9fb; }
  .case-action:active {
    background: #f1f3f7;
    box-shadow: 0 0 0 0 #dbe0e9; }

.case-intro-title {
  font-size: 1.2em;
  color: #206cab; }
  @media screen and (min-width: 500px) {
    .case-intro-title {
      font-size: 1.35em; } }
  @media screen and (min-width: 700px) {
    .case-intro-title {
      font-size: 1em;
      font-weight: bold;
      margin-right: 5px; } }

.case-intro-text {
  display: block;
  font-size: .7em;
  color: #525f6b; }
  @media screen and (min-width: 500px) {
    .case-intro-text {
      font-size: .85em; } }
  @media screen and (min-width: 700px) {
    .case-intro-text {
      font-size: .9em;
      display: inline; } }

.case-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  min-width: 48px;
  min-height: 48px;
  margin-right: 15px;
  border-radius: 48px;
  background: #bbb; }

.case-logo-icon {
  font-size: 20px;
  line-height: 0;
  color: #fff; }

.bg-yellow {
  background: #edbb0f; }

.project-body {
  padding: 0 0 2em; }
  @media screen and (min-width: 500px) {
    .project-body {
      padding-top: 2em; } }
  .project-body > p,
  .project-body > h1,
  .project-body > h2,
  .project-body > ul {
    margin-left: auto;
    margin-right: auto;
    width: 90%; }
    @media screen and (min-width: 500px) {
      .project-body > p,
      .project-body > h1,
      .project-body > h2,
      .project-body > ul {
        width: 80%; } }
  .project-body > .highlight {
    max-width: 650px; }
  .project-body > h1 {
    max-width: 750px; }
  .project-body > ul {
    padding-left: 2em; }
    .project-body > ul > li {
      margin: .8em 0; }

.project-poster-wrapper {
  height: 80%;
  max-height: 800px; }

.project-poster {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .project-poster > img {
    max-height: 80%;
    margin: 0 auto;
    display: table; }

.project-title {
  color: #2980b9; }

.scilife-footer {
  border-top: 1px solid #dedede;
  padding: 2em 0 2.5em;
  text-align: center; }
  .scilife-footer > .scilife-logo > .scilife-logo-img {
    max-width: 11em; }
  .scilife-footer > .subheader {
    font-size: 12px; }
    .scilife-footer > .subheader a {
      text-decoration: none;
      color: #878787; }
