---
layout: default
---

<div class="home">

  <header class="text-center">
    <div class="scilife-logo animated">
	  <img class="scilife-logo-img" src="{{ site.baseurl }}/img/scilifelab-logo.svg" title="Science for Life Laboratory" alt="SciLifeLab logo" />
    </div>
    <div class="scilife-subheader">
      Open source is in our DNA.
    </div>
  </header>

  <section>
    <div class="showcase">
      {% for post in site.posts %}
        <div class="case-wrapper">
          <a href="{{ post.code }}" alt="See the {{ post.project }} code" class="case-action-wrapper">
            <div class="case-action">
              <div class="icon-star"></div>
              {{ post.stars }}
            </div>
          </a>

          <a class="case" href="{{ post.url | prepend: site.baseurl }}">
            <div class="case-logo animated bg-yellow">
              {% if post.icon_img %}
                <img class="case-logo-img"
                     src="/img/{{ post.icon_img }}"
                     width="48" height="48"
                     alt="Project image logo">
              {% else %}
                <div class="case-logo-icon {{ post.icon }}"></div>
              {% endif %}
            </div>
            <div class="case-intro">
              <span class="case-intro-title">{{ post.project }}</span>
              <span class="case-intro-text">{{ post.intro }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

</div>
