---
layout: default
---
<div class="project-wrapper">
  
  {% if page.poster %}
    <div class="project-poster">
      <img src="/img/{{ page.poster }}">
    </div>
  {% endif %}

  <div class="project__body">
    <h1 class="text-center">
      <span class="project-title">{{ page.project }}</span> -
      {{ page.title }}
    </h1>

    {{ content }}
  </div>

</div>
<div class="scilife-footer">
	<div class="scilife-logo">
		<a href="{{ site.url }}">Sci<span class="scilife-logo__colored">Li<i>f</i>e</span>Lab</a>
	</div>
	<div class="subheader">
		<a href="{{ site.url }}">Open source is in our DNA.</a>
	</div>
</div>